
<h1>Welcome</h1>

<p>This is an example <a href="https://github.com/apioo/fusio-sample-javascript-angular">Angular-App</a> which uses Fusio as Backend.</p>
<p>You can use the <a href="https://github.com/apioo/fusio-sdk-javascript-angular">Fusio Angular SDK</a> to quickly build a backend app for your Fusio API.</p>

<ul>
  <li>
    <code>src/app/generated</code>
    <p>This folder contains the generated SDK, you can generate this at your Fusio instance with the following command: <code>php bin/fusio generate:sdk --filter=frontend</code></p>
  </li>
  <li>
    <code>src/app/config-builder.ts</code>
    <p>Contains the configuration of your backend app.</p>
  </li>
</ul>

<p>You are logged in as user: <b>{{account?.name}}</b></p>
